<%- include('includes/head'); %>
<%- include('includes/nav'); %>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-8 my-3">
                <h1 class="text-center my-3">Agenda</h1>
                <p class="text-center lead my-3">Seus contatos estão abaixo</p>
          
                <div class="responsive-table my-4">
                    <table class="table">
                        <tr>
                            <td>Adriano</td>
                            <td>11995172741</td>
                        </tr><tr>
                            <td>Adriano</td>
                            <td>11995172741</td>
                        </tr><tr>
                            <td>Adriano</td>
                            <td>11995172741</td>
                        </tr><tr>
                            <td>Adriano</td>
                            <td>11995172741</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-2"></div>
        </div>
    </div>
<%- include('includes/footer'); %>
